<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= local.title %></title>
</head>
<body>

    <div class="container">
        <a href="/" class="container__logo">News Blog</a>
        <form action="/" class="container__search" method="POST"  role="search">
            <input type="text" name="search" placeholder="search here ...">
            <input type="submit" name="submit" value="Search">
        </form>
    </div>

    <div class="wrapper">
        <div class="news">
            <% articles.forEach(function(article,index) { %>
                <a href="/<%-  article.id %>" class="news__card">
                    <img class="news__card__img" src="<%- article.thumbnail_url %>">
                    <h2 class="news__card__title"><%- article.title.rendered %></h2>
                </a>   
            <% }) %>
            
        </div>
    </div>
</body>
</html>